SyncFromInstance.ps1
src/kubejs/assets/kubejs/textures/block/example_block.png
src/kubejs/assets/kubejs/textures/item/example_item.png
src/overrides/mods/*.jar
src/**/Cuboid*.zip
src/server files/*.zip
src/server files/dist
